<h1>Doctors#show</h1>
<p>Find me in app/views/doctors/show.html.erb</p>


    <% @doctor.appointments.each do |appointment|%>
      <l1>  <%= appointment.appointment_datetime %> </li>
        <%end%>

    <% @doctor.patients.each do |doctor| %>
        <%= link_to doctor.name, doctor_path(doctor) %>
        <% end %>
   
